Source: q4os-chrome
Section: none
Priority: optional
Maintainer: Q4OS Team <devteam@q4os.org>
Build-Depends: debhelper (>= 9~), q4os-devpack-base
Standards-Version: 3.8.4

Package: q4os-chrome
Architecture: amd64
Pre-Depends: google-chrome-stable
Depends: q4os-desktop (>= 4.0)
Recommends: libexif12, dbus-x11, fonts-symbola
Conflicts: google-chrome-q4
Provides: q4os-chrome
Replaces:
Breaks:
Description: Google Chrome metapackage
