#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@


override_dh_install:
	dh_install
	rsync -a filesystem/* debian/q4os-chrome/
	dh_modify_debdir

override_dh_link:

override_dh_installdeb:

override_dh_builddeb:
	dh_builddeb #--destdir=../.zout/
	dh_build_qinstaller
	#rm -rf ../.zout/ && mkdir ../.zout/ && cp ../*.deb ../*.esh ../*.qsi ../.zout/ && rm ../*.esh ../*.qsi
