#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@


override_dh_install:
	dh_install
	rsync -a filesystem/* debian/q4os-chrome/
	dh_modify_debdir debian/qinstaller/installer.cfg debian/q4os-chrome #todo: remove arguments as new devpack released

override_dh_link:

override_dh_installdeb:

override_dh_builddeb:
	# rm -rf ../.zout/ && mkdir -p ../.zout/
	dh_builddeb #--destdir=../.zout/
	dh_build_qinstaller debian/qinstaller/installer.cfg
	# dh_clean --dirs-only
	# rm -r debian/.debhelper
	# rm debian/q4os-chrome.substvars
	# rm debian/q4os-chrome.debhelper.log
	# rm debian/files
	rm -rf ../.zout/ && mkdir ../.zout/ && cp ../*.deb ../*.qsi ../*.esh ../.zout/
